@font-face {
    font-family: 'Graphik';
    src: url('assets/Graphik-Regular-Web.woff2') format('woff2'),
         url('assets//Graphik-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets//Graphik-Medium-Web.woff2') format('woff2'),
         url('assets//Graphik-Medium-Web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graphik', sans-serif;
}

body {
    line-height: 1.6;
    background: #fff;
    color: #333;
    max-width: 660px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left;
}

h3 {
    font-size: 1.75em;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: left;
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}
